<ion-header>
  <ion-toolbar color="dark">
    <ion-button color="transparent" slot="start">
      <ion-icon name="ios-menu" class="menu-icon"></ion-icon>
      <ion-menu-button></ion-menu-button>
    </ion-button>
      <ion-img src="../../assets/images/logo_giuliangeli.png" alt="Giuliangeli-Logo" class="logo-img"></ion-img>
  </ion-toolbar>
</ion-header>
