.menu-icon {
    color: #f68e56;
    background-color: transparent;
    margin-bottom: 25px;
}

.logo-img {
    width: 100%;
    height: 17px;
    margin-bottom: 25px;
}

ion-toolbar {
  height: 30px;
}