<ion-header>
  <ion-toolbar color="dark">
      <ion-img src="../../assets/images/logo_giuliangeli.png" alt="Giuliangeli-Logo"class="logo"></ion-img>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row no-padding>
      <ion-col size="12" no-padding>
        <ion-img src="../../assets/images/Img Auto login.png" alt="image" ></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <form>
          <ion-row justify-content-center margin>
            <ion-col size="9" no-padding>
              <ion-input type="text" placeholder="Username" class="form" padding></ion-input>
            </ion-col>
              <ion-col size="9" no-padding>
              <ion-input type="password" placeholder="Password" class="form" padding></ion-input>
              </ion-col>
              <ion-col size="9" no-padding>
              <button ion-button type="submit" class="form">Accedi</button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer>
    <app-footer></app-footer>
  </ion-footer>
</ion-content>
