.logo {
    width: 100%;
    height: 17px;
    margin-bottom: 25px;
}

ion-header ion-toolbar:first-child {
    height: 30px;
}

.form {
    font-family: 'Open-Sans-Light';
    border-radius: 5px;
    height: 40px;
}

ion-input {
    font-size: 15.58px;
    border: 1px black solid;
    color: #cccccc;
    margin-bottom: 5px;
}

button {
    background-color: #ff8405;
    border: 1px #ff8405 solid;
    color: white;
    font-size: 21.17px;
    width: 100%;
}
@media only screen and (min-width: 687px) {
    .logo {
        width: 100%;
        height: 25px;
        padding: 3px;
    }
}