<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        Dettaglio contratto
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col padding>
        <ion-row>
            <ion-col class="header" size="8">Codice Cliente</ion-col>
            <ion-col class="data" size="4">0001</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="header" size="8">Data consegna</ion-col>
            <ion-col class="data" size="4" justify-content-end>08-04-2019</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="header" size="8">Data rientro</ion-col>
            <ion-col class="data" size="4" justify-content-end>15-04-2019</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="header" size="6">Cliente</ion-col>
            <ion-col class="data" size="6" justify-content-end>Mario Rossi</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="header" size="8">Km</ion-col>
            <ion-col class="data" size="4" justify-content-end>20.000</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="header" size="8">Targa</ion-col>
            <ion-col class="data" size="4">FX586TC</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center align-items-center margin-bottom>
      <button class="scatta-foto"><ion-icon name="photo-camera"></ion-icon><span class="btn-text"> Scatta Foto</span></button>
    </ion-row>
    <ion-row no-padding> 
      <ion-col no-padding>
        <ion-row no-padding class="custom-top-row"  align-items-center padding-top>
          <ion-col size="2" no-padding>
            <ion-img class="images" src="../../assets/images/Foto1.png"></ion-img>
            <button ion-button class="delete">Elimina</button>
          </ion-col>
          <ion-col size="2" no-padding>
            <ion-img class="images" src="../../assets/images/Foto1.png"></ion-img>
            <button ion-button class="delete">Elimina</button>
          </ion-col>
          <ion-col size="2" no-padding>
            <ion-img class="images" src="../../assets/images/Foto1.png"></ion-img>
            <button ion-button class="delete">Elimina</button>
          </ion-col>
        </ion-row>
        <ion-row class="custom-top-row"  align-items-center padding-top>
          <ion-col size="2" no-padding>
            <ion-img class="images" src="../../assets/images/Foto1.png"></ion-img>
            <button ion-button class="delete">Elimina</button>
          </ion-col>
          <ion-col size="2" no-padding>
            <ion-img class="images" src="../../assets/images/Foto1.png"></ion-img>
            <button ion-button class="delete">Elimina</button>
          </ion-col>
          <ion-col size="2" no-padding>
            <ion-img class="images" src="../../assets/images/Foto1.png"></ion-img>
            <button ion-button class="delete">Elimina</button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-footer>
    <app-footer></app-footer>
  </ion-footer>
</ion-content>
