.header {
    font-size: 15.88px;
    font-weight: bold;
    font-family: 'Open Sans';
    text-transform: uppercase;
    line-height: 15.12px;
}

.data {
    text-align: end;
    font-size: 15.88px;
    font-family: 'Open-Sans-Light';
    line-height: 15.12px;
}

.images {
    width: 51px;
    height: 51px;
}

.scatta-foto {
    display: flex;
    padding: 8px 0px 8px 12px;
    color: black;
    background-color: #ff8405; 
    font-family: 'Open-Sans-Light';
    font-size: 26.46px;
    border: 1px #ff8405 solid;
    border-radius: 5px;
    width: 201px;
    height: 41px;
}

ion-icon {
    padding-right: 5px;
}

btn-text{
    font-size: 26.46px;
    font-family: 'Open-Sans-Light';
}

.delete {
    width: 51px;
    height: 32px;
    color: white;
    background-color: #ff8405;
    font-size: 10.58px;
    font-family: 'Open Sans';
    border: 1px #ff8405 solid;
    border-radius: 5px;
    margin-top: 1px;
}

.custom-top-row{
    --padding-top: 3px;
    padding-top: 3px;
    justify-content: space-around;
}
