<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col margin-top>
        <ion-text class="pageName">Elenco Contratti</ion-text>
      </ion-col>
    </ion-row>
    <ion-row no-padding justify-content-start align-items-center margin>
      <ion-text class="date" padding>
        Dal
      </ion-text>
      <ion-datetime displayFormat="DD-MM-YY" value="2019-12-15"></ion-datetime>
      <ion-text class="date" padding> 
        al
      </ion-text>
      <ion-datetime displayFormat="DD-MM-YY" value="2012-12-15T13:47:20.789"></ion-datetime>   
    </ion-row>
    <ion-row>
      <ion-grid>
        <ion-row no-padding>
            <ion-col class="header" size="1.4">COD</ion-col>
            <ion-col class="header" size="2.9">CONSEGNA</ion-col>
            <ion-col class="header" size="2.3">RIENTRO</ion-col>
            <ion-col class="header" size="3">CLIENTE</ion-col>
            <ion-col class="header" size="2.4"></ion-col>
            <ion-img src="../../assets/images/Forma.png" no-padding class="line"></ion-img>
        </ion-row>
        <ion-row justify-content-center align-items-center>
          <ion-col class="col" size="1.4" padding-top>0001</ion-col>
          <ion-col class="col" size="2.9" padding-top>08-04-19</ion-col>
          <ion-col class="col" size="2.3" padding-top>15-04-19</ion-col>
          <ion-col class="col" size="3" padding-top>Mario Rossi</ion-col>
          <ion-col class="col-icon" size="2.4" margin-top><ion-icon name="file"></ion-icon></ion-col>
        </ion-row>
        <ion-row justify-content-center align-items-center>
          <ion-col class="col" size="1.4" padding-top>0002</ion-col>
          <ion-col class="col" size="2.9" padding-top>09-04-19</ion-col>
          <ion-col class="col" size="2.3" padding-top>21-04-19</ion-col>
          <ion-col class="col" size="3" padding-top>Paolo Piva</ion-col>
          <ion-col class="col-icon" size="2.4" margin-top><ion-icon name="file"></ion-icon></ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-grid>
  <ion-footer>
    <app-footer></app-footer>
  </ion-footer>
</ion-content>
