.pageName {
    font-size: 15.58px;
    font-family: 'Open Sans';
    margin: auto;
}

.date {
    font-family: 'Open-Sans-Regular';
    font-size: 7.94px;
}

ion-datetime {
    height: 30px;
    padding: 15px;
    border-radius: 5px;
    font-family: 'Open-Sans-Regular';
    font-size: 10.58px;
    color: white;
    background-color: rgb(202, 202, 202);  
    justify-content: center;
    align-items: center;
}

.line {
    width: 100%;
}

.header {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 10.58px;
}

.col {
    font-family: 'Open Sans';
    font-size: 10.58px;
}

ion-icon {
    color: white;
    width: 22px;
    height: 22px;
    margin-top: 5px;
}

.col-icon {
    font-family: 'Open Sans';
    font-size: 10.58px;
    background-color: #ff8405;
    height: 40px;
    width: 60px;
    border-radius: 5px;
    text-align: center;
}

@media only screen and (min-width: 425px) {

  .date {
    font-family: 'Open-Sans-Regular';
    font-size: 10.94px;
  }

  .header {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 15.58px;
}
.col-icon {
    font-family: 'Open Sans';
    font-size: 15.58px;
    background-color: #ff8405;
    height: 40px;
    width: 60px;
    border-radius: 5px;
    text-align: center;
}

.col {
    font-family: 'Open Sans';
    font-size: 15.58px;
}
}